
.carousel{
    padding-bottom: 4rem;
}

.carousel-image {
    max-height: 30rem;
    width: 100%;
    max-width: 100%;
}

.image-container{
    width: 100%;
}

.features{
    padding: 0 8rem;
}

.feature-item img{
    max-height: 20rem;
    max-width: 100%;
    width: auto;
}

.description{
    display: flex;
    align-items: center;
}

.feature-item{
    padding: 2rem;
}

.title{
    background-color: #85C1E9;
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 0;
}

.title h1{
    margin: 0;
}


@media screen and (max-width: 1250px) {
    .description {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 920px) {
    .features{
        padding: 0;
    }

    .title{
        font-size: 2rem;
    }
}