<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="item" let-item>
            <ng-container>
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-container>
        </ng-template>
        <ng-template pTemplate="end">
                <p-avatar icon="pi pi-user" shape="circle" (click)="op.toggle($event)"/>
        </ng-template>
    </p-menubar>
</div>
<p-overlayPanel #op>
    <div class="flex flex-column gap-3 w-10rem">
        <p-button label="Ver Perfil" icon="pi pi-user" [text]="true" severity="secondary" />
        <p-button  label="Salir" icon="pi pi-sign-out" [text]="true" severity="danger" (onClick)="logout()"/>
    </div>
</p-overlayPanel>
<router-outlet></router-outlet>