.avatars-container{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

p-avatar:hover{
 cursor: pointer;
}

.buttons{
    display: grid;
    gap: .5rem;
    width: 100%;
    justify-items: center;
}

::ng-deep 
    .p-ripple.p-element.p-button.p-component.p-button-danger.p-button-text{
        width: 100%;
    }
::ng-deep 
    .p-ripple.p-element.p-button.p-component.p-button-secondary.p-button-text{
        width: 100%;
    }


span{
    width: 100%;
}

.image{
    width: 40px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p{
    margin: 0;
}

.name{
    margin-bottom: .5rem;
}

.product-container{
    padding: .5rem 0;
    background: #f5f5f5;
    margin-bottom: 1rem;
    border-radius: 6px;
}