.avatars-container{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

p-avatar:hover{
 cursor: pointer;
}

.buttons{
    display: grid;
    gap: .5rem;
    width: 100%;
    justify-items: center;
}

::ng-deep 
    .p-ripple.p-element.p-button.p-component.p-button-danger.p-button-text{
        width: 100%;
    }
::ng-deep 
    .p-ripple.p-element.p-button.p-component.p-button-secondary.p-button-text{
        width: 100%;
    }


span{
    width: 100%;
}