<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="item" let-item>
            <ng-container>
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-container>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="avatars-container">
                <p-avatar 
                (click)="sidebarVisible = true"
                icon="pi pi-shopping-cart"
                pBadge 
                [style]="{ 'background-color': 'transparent'}" 
                value="4"
                />
                <p-avatar icon="pi pi-user" shape="circle" (click)="op.toggle($event)"/>
            </div>
        </ng-template>
    </p-menubar>
</div>
<p-sidebar [(visible)]="sidebarVisible" position="right" class="sidebar">
    <header>
        <h3>Mis productos</h3>
    </header>
    <section class="products">

    </section>
    <section class="buttons">
        <p-button severity="secondary" routerLink='/customer/shopping-cart' (click)="sidebarVisible = false">
            <span>Ir a mi carrito</span>
        </p-button>
        <p-button>
            <span>Comprar ahora</span>
        </p-button>
    </section>
</p-sidebar>
<p-overlayPanel #op>
    <div class="flex flex-column gap-3 w-10rem">
        <p-button class="button-option" label="Ver Perfil" icon="pi pi-user" [text]="true" severity="secondary" />
        <p-button class="button-option" label="Salir" icon="pi pi-sign-out" [text]="true" severity="danger" (onClick)="logout()"/>
    </div>
</p-overlayPanel>
<router-outlet></router-outlet>
