<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button 
                pRipple 
                severity="success" 
                label="Nuevo" 
                icon="pi pi-plus" 
                class="mr-2" 
                (click)="openNew()" />
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="services"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Mis Servicios</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">
                    Nombre <p-sortIcon field="name" />
                </th>
                <th>
                    Imagen
                </th>
                <th pSortableColumn="price">
                    Precio <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="category" style="min-width:10rem">
                    Categoría <p-sortIcon field="category" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
            <tr>
                <td>
                    {{ service.name }}
                </td>
                <td>
                <img 
                    [src]="service.imageUrl" 
                    [alt]="service.name" 
                    width="50" 
                    class="shadow-4" />
                </td>
                <td>
                    {{ service.price | currency : 'S/. ' }}
                </td>
                <td>
                    {{ service.category }}
                </td>
                <td>
                    <p-button 
                        pRipple 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (click)="editService(service)" />
                    <p-button 
                        pRipple 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                        (click)="deleteService(service)" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog 
        [(visible)]="productDialog" 
        [style]="{ width: '450px' }" 
        header="Detalles del Producto" 
        [modal]="true" 
        styleClass="p-fluid">
            <ng-template pTemplate="content">
                @if(create){
                    <p-dropdown 
                    class="product-selector"
                    [options]="serviceOptions" 
                    [(ngModel)]="selectedService" 
                    optionLabel="name"
                    placeholder="Selecciona un servicio" />
                    <div class="skeleton"></div>
                }
                @else {
                    <img 
                    [src]="service.imageUrl" 
                    [alt]="service.name" 
                    class="image-dialog pb-3" 
                    *ngIf="service.imageUrl" />
                    <div class="field">
                        <h2>{{service.name}}</h2>
                    </div>
                }
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Precio</label>
                        <p-inputNumber 
                            id="price" 
                            [(ngModel)]="service.price" 
                            mode="currency" 
                            currency="PEN" 
                            locale="es-PE" />
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    pRipple 
                    label="Cancelar" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (click)="hideDialog()" />
                <p-button 
                    pRipple 
                    label="Guardar" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (click)="saveService()" />
            </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>