<div class="p-2 pt-3">
    <p-toggleButton 
    [(ngModel)]="value" 
    (onChange)="change()"
    onLabel="Productos" 
    offLabel="Servicios" />
  </div>
  
  <section class="search-container p-2 pt-4">
    <form [formGroup]="formGroup">
      <p-floatLabel>
        <p-autoComplete 
          formControlName="selectedProduct"
          [suggestions]="filteredProducts" 
          (onKeyUp)="filterProduct()"
          inputId="float-label" 
          field="name" />
        <label for="float-label">Buscar</label>
      </p-floatLabel>
    </form>
    <p-dropdown 
      id="category"
      class="category-selector"
      [options]="options" 
      (onChange)="filterByCategory()"
      [showClear]="true"
      [(ngModel)]="selectedOption" 
      optionLabel="name"
      placeholder="Selecciona una categoría" />
  </section>
  
  <section class="services-container">
    @for(product of displayProducts; track product.id){
        <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
            <div class="surface-50 flex justify-content-center border-round p-3 image-container">
              <div class="relative mx-auto image-box">
                <img class="border-round w-full image" [src]="product.imageUrl" [alt]="product.name" style="max-width: 300px;" />
              </div>
            </div>
            <div class="pt-4">
              <div class="flex flex-row justify-content-between align-items-start gap-2">
                <div>
                  <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                  <div class="text-lg font-medium text-900 mt-1">{{ product.name }}</div>
                </div>
              </div>
              <div class="flex flex-column gap-4 mt-4">
                <div class="flex gap-2">
                  @if(value){
                    <p-button (onClick)="gotoMap(product.id)" icon="pi pi-shopping-cart" class="flex-auto md:flex-initial white-space-nowrap" label="Comprar"></p-button>
                  }
                  @else {
                    <p-button class="flex-auto md:flex-initial white-space-nowrap" label="Ver detalle"></p-button>
                  }
                </div>
              </div>
            </div>
          </div>
    }
  </section>
  