<section class="search-map">
    @if(product){
        <div class="card">
            <div class="image-container">
                <img class="image" [alt]="product.name" [src]="product.imageUrl" />
            </div>
            <div class="information">
                <h1 class="product-title">{{product.name}}</h1>
                <p class="description">{{product.description}}</p>            
                <p class="detail-p"><b>Categoría:</b> {{product.category}}</p>
                <p class="detail-p"><b>¿Requiere receta?:</b> {{ product.prescriptionRequired ? 'Sí' : 'No' }}</p>
            </div>
    </div>
    }
    <div class="map-container">
        <h3>Disponible en</h3>
        <div class="map" #divMap></div>
    </div>
</section>
@if(productDetail){
<p-dialog header={{productDetail.product}} [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
   
        <h3>Botica {{productDetail.drugstore}}</h3>
        <p class="detail-p"><b>Precio:</b> S/. {{productDetail.price}}</p>
        <p class="detail-p"><b>Stock:</b> {{productDetail.stock}} unidades</p>
  
    <div class="flex justify-content-end gap-2">
        <p-button label="Agregar al carrito" severity="secondary" (click)="addtoCart()" />
        <p-button label="Comprar ahora" (click)="visible = false" />
    </div>
</p-dialog>
}