<section class="search-map">
    @if(service){
        <div class="card">
            <div class="image-container">
                <img class="image" [alt]="service.name" [src]="service.imageUrl" />
            </div>
            <div class="information">
                <h1 class="product-title">{{service.name}}</h1>
                <p class="description">{{service.description}}</p>            
                <p class="detail-p"><b>Categoría:</b> {{service.category}}</p>
            </div>
    </div>
    }
    <div class="map-container">
        <h3>Disponible en</h3>
        <google-map
        #divMap
        width="100%"
        height="400px"
        [center]="center"
        [zoom]="zoom">
        <map-marker [position]="center" [options]="markerOptions"></map-marker>
        @for (position of positions; track position.drugstoreId) {
            <map-marker [position]="{lat: +position.latitude, lng: +position.longitude}" [options]="markerOptions2" [title]="position.name"
            [icon]="{
                url: 'logo.png',
                scaledSize: iconSize 
            }"
            (mapClick)="markerClick(position.drugstoreId)"/>
          }
      </google-map>
    </div>
</section>
@if(serviceDetail){
<p-dialog header={{serviceDetail.service}} [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
   
        <h3>Botica {{serviceDetail.drugstore}}</h3>
        <p class="detail-p"><b>Precio:</b> S/. {{serviceDetail.price}}</p>
  
</p-dialog>
}