.message{
    margin-top: 2rem;
    padding: 2rem;
    display: grid;
    justify-items: center;
    gap: 2rem;
}

h1{
    text-align: center;
}

:host ::ng-deep
    .p-button{
        width: 250px;
    }